.container{
    display:flex;
    
    height:600px;
    width:600px;
    border:2px solid black;
    margin:auto;

}

.row, .cell{
    display:flex;
    justify-content:center;
    flex:1 1 auto;
    
    flex-wrap:wrap;
    width:100%;
    height:auto;
}

button{
    display:flex;
    margin:auto;
    font-size:12px;
    font-family: 'Raedex Pro', sans-serif;
    padding:0.5em 1em;
    border-radius: 1em;
    
}

h1{
    display:flex;
    justify-content: center;
   
}

.containerBtn {
    display:flex;
    justify-content: center;
    
    width: 300px;
    margin:auto;
}

.redBtn{
    background-color: red;
    color:white;
}

.blueBtn{
    background-color: blue;
    color:white;
}

.blackBtn{
    background-color:black;
    color:white;
}